* {
    box-sizing: border-box;
}

body {
    background-color: rgb(219, 24, 24);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(./Scooby-doo-wallpaper-2.webp);
    /* background-position: center; */
    background-repeat: repeat;
    background-size: contain;
    background-position: center;
    margin: 0;
    padding-inline: 8px;
}

.sidebar {
    max-width: 80px;
}

.block1,
.block2,
.block3 {
    min-height: 50px;
    max-width: 400px;
    cursor: pointe;
}

.block1 {
    background-color: rgb(255, 255, 255);
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 3px solid black;
}

.imgtext {
    display: flex;
    align-items: center;
    gap: 10px;
}

.checkbox {
    position: absolute;
    display: none;
}

.checkbox:checked+.up-arrow {
    transform: rotate(180deg);
}

/* .dog-icon{
    padding-left: 5px;
    padding-right: 5px;
} */
.dog-icon,
.up-arrow {
    height: 30px;
}

.menu-item {
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.4);
    max-width: 400px;
    max-height: 0;
    overflow: hidden;
    padding: 0;
    margin: 0;
    border-radius: 0px 0px 2px 2px;
    background-color: rgba(245, 245, 245, 0.493);
}

.menu-item li {
    list-style: none;
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
}

.menu-item li:hover {
    border: 1px solid blue;
    
}

.dropdown:has(input:checked) .menu-item {
    max-height: 400px;
    margin-top: 0px;
}

.dropdown:has(input:checked) .block1 {
    border-radius: 4px 4px 0px 0px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4);
    border: 0;
}

.block1:hover {
    cursor: pointer;
    outline: 1px solid rgb(4, 4, 4);
    background-color: rgba(255, 255, 255, 0.386);
}

.dropdown+.dropdown {
    margin-top: 16px;
}
