* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #decdac;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 12px;
    font-family: 'Poppins';
}

.lazy {
    background-color: #252523fe;
}

.outer {
    min-height: 224.4px;
    width: 100%;
    max-width: 491.967px;
    border-radius: 16px;
    background-color: #fefaf3;
    position: relative;
    box-shadow: 0px 0px 24px .1px rgb(70, 70, 70);
   

}

.container {
    background-color: #fefaf3;
    padding: 32px;
    border-radius: 16px;
    position: relative;
    min-height: 224.4px;
    width: 100%;
    max-width: 491.967px;
}

.notshow .action,
.notshow .part1,
.notshow .cross {
    display: none;
}

.cross {
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
}

.part1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 24px;

}

.part1 img {
    width: 150px;
    height: 150px;
    margin-right: 16px;
    margin-top: -52px;


}

.text h2 {
    margin: 0;
    margin-bottom: 4px;
}

.action {
    display: flex;
    justify-content: center;
}

.action input {
    background-color: #eee8dd;
    border: none;
    outline: none;
    padding: 8px 0px 8px 24px;
    border: 1px solid #AFA187;
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    flex-grow: 1;
    font-family: inherit;



}

.action input::placeholder {
    color: #303030;
}






.action button {
    background-color: #EBBF53;
    border: none;
    outline: none;
    color: #fefaf3;
    padding: 8px 24px 8px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    font-family: inherit;
    cursor: pointer;
}

.touchme button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #EBBF53;
    border: none;
    outline: none;
    color: #fefaf3;
    padding: 8px 24px 8px;
    border-radius: 20px;
    font-family: inherit;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    display: none;
}

.notshow button {
    display: block;
}

.whole {
    display: none;
}

footer {
    text-align: center;
    margin-top: 32px;
}

.lazy footer {
    color: #fefaf3;
}